<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>itemTitle</key>
			<string>图片</string>
			<key>face_name</key>
			<string>sharemore_pic</string>
			<key>type</key>
			<string>5</string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string>拍摄</string>
			<key>face_name</key>
			<string>sharemore_video</string>
			<key>type</key>
			<string>5</string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string>视频聊天</string>
			<key>face_name</key>
			<string>sharemore_videovoip</string>
			<key>type</key>
			<string>5</string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string>位置</string>
			<key>face_name</key>
			<string>sharemore_location</string>
			<key>type</key>
			<string>5</string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string>红包</string>
			<key>face_name</key>
			<string>sharemore_wallet</string>
			<key>type</key>
			<string>5</string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string>转账</string>
			<key>face_name</key>
			<string>sharemorePay</string>
			<key>type</key>
			<string>5</string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string>个人名片</string>
			<key>face_name</key>
			<string>sharemore_friendcard</string>
			<key>type</key>
			<string>5</string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string>语音输入</string>
			<key>face_name</key>
			<string>sharemore_voiceinput</string>
			<key>type</key>
			<string>5</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>itemTitle</key>
			<string>收藏</string>
			<key>face_name</key>
			<string>sharemore_myfav</string>
			<key>type</key>
			<string>5</string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string>卡券</string>
			<key>face_name</key>
			<string>sharemore_wallet</string>
			<key>type</key>
			<string>5</string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string></string>
			<key>face_name</key>
			<string></string>
			<key>type</key>
			<string></string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string></string>
			<key>face_name</key>
			<string></string>
			<key>type</key>
			<string></string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string></string>
			<key>face_name</key>
			<string></string>
			<key>type</key>
			<string></string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string></string>
			<key>face_name</key>
			<string></string>
			<key>type</key>
			<string></string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string></string>
			<key>face_name</key>
			<string></string>
			<key>type</key>
			<string></string>
		</dict>
		<dict>
			<key>itemTitle</key>
			<string></string>
			<key>face_name</key>
			<string></string>
			<key>New item</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
